{
   "singleQuote": true,
   "tabWidth": 3,
   "printWidth": 120,
   "trailingComma": "all",
   "semi": true,
   "bracketSpacing": true,
   "jsxBracketSameLine": false,
   "plugins": ["prettier-plugin-tailwindcss"]
}
